html {
    color: #000;
    padding: 40px
}

p {
    font: normal Verdana, Arial, sans-serif;
}

ul {
    font: normal Verdana, Arial, sans-serif;
 }

 li {
    margin-bottom: 15px;
 }

 h1 {
    font: normal Verdana, Arial, sans-serif;
    font-weight: bold;
 }

 h2 {
    font: normal Verdana, Arial, sans-serif;
 }

 a {
    color: #19b5ab;
    font: normal Verdana, Arial, sans-serif;
 }
